
.content {
    background-color: rgba(245, 245, 245, 0.5);
    padding-left: 43px;
    padding-bottom: 85px;
    margin-left: 120px;
    margin-bottom: 52px;
    margin-top: 12px;
}

.welcome-text {
    margin-top: 0;
    margin-bottom: 7px;
    width: 250px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    color: #3D3D3D;
    text-transform: uppercase;
}

.main-text {
    margin-top: 0;
    margin-bottom: 5px;
    width: 600px;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color: #3D3D3D;
    text-transform: uppercase;
}

.main-text span {
    color: #46A358;
}

.describe {
    margin-top: 0;
    margin-bottom: 44px;
}

.shop-bottom {
    margin-top: 0;
}

.content-inner {
    display: inline-block;
    width: 557px;
    padding-top: 68px;
    vertical-align: top;
}